*,
*::before,
*::after {
  box-sizing: border-box;
}
.page {
  height: 100%;
}
.body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

/* Header */
.nav-list {
  list-style: none;
  padding: 0;
  margin: 31px 0;
  display: flex;
  justify-content: center;
}
.nav-item + .nav-item {
  padding-left: 75px;
}
.nav-link {
  text-decoration: none;
  color: #ff0000;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

/* Main */
.main {
  color: #373737;
}
.img {
  width: 100%;
}
.container {
  padding: 0 67px;
  text-align: center;
}
.title {
  margin-top: 48px;
  margin-bottom: 38px;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
}
.paragraph {
  margin-bottom: 28px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
}
.btn {
  display: inline-block;
  margin-top: 66px;
  padding: 17px 43px;
  background: #ff0000;
  border-radius: 4px;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

/* Footer */
.footer {
  padding: 90px 105px 40px;
}
.footer-copyright {
  margin: 0;
  text-align: right;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  color: #373737;
}
