body {
	font-family: sans-serif;
	font-size: 20px;
}
.container {
	max-width: 600px;
	margin: 0 auto;
	padding-top: 50px;
}
.wrapper {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}
label {
	margin-bottom: 10px;
}
input {
	padding: 15px;
}
button {
	cursor: pointer;
	padding: 10px;
}
