@import "https://fonts.googleapis.com/css?family=Overlock:400,400i,700|Oleo+Script";

html {
	min-height: 100%;
}

body {
	font-family: "Overlock", Arial, Helvetica, sans-serif;
}

.markSuccessful {
	color: red;
	display: inline-block;
	margin-left: 30px;
	font-weight: 700;
	border: 2px solid red;
	border-radius: 50%;
	padding: 0 3px;
	cursor: pointer;
	font-size: 10px;
}
.cross-line {
	text-decoration: line-through;
}
