body {
	font-family: sans-serif;
}
.container {
	width: 1300px;
	padding: 0 10px;
	margin: 0 auto;
}

/* Header */
.page__header {
	padding-top: 63px;
}
.logo {
	font-size: 80px;
	line-height: 94px;
}
.logo--color {
	color: #4bcaff;
}
.nav-top {
	position: relative;
}
.nav-top__list {
	margin-top: 38px;
	display: flex;
	justify-content: center;
}
.nav-top__item {
	border-right: 1px solid;
}
.nav-top__item:first-child {
	border-left: 1px solid;
}
.nav-top__link {
	font-size: 24px;
	line-height: 28px;
	display: inline-block;
	padding: 26px 33px 19px;
	transition: background 0.7s;
}

/* Main */
.page__main {
	margin-top: 48px;
}
.main-wrap {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.aside {
	flex-basis: 345px;
	border: 1px solid #000;
}
.aside__link {
	font-size: 27px;
	line-height: 27px;
	display: inline-block;
	padding: 26px 44px;
	width: 100%;
	transition: background 0.7s, padding-left 0.7s, color 0.7s;
}
.aside__link:hover {
	background: #dbdbdb;
	padding-left: 73px;
	color: #35444f;
}
.content {
	flex-basis: 885px;
}
.content__img__wraper {
	width: 885px;
	height: 529px;
	border: 1px solid #000;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 37px;
}
.content__img__wraper:hover img {
	transform: scale(1.15);
}
.content__img {
	transition: 0.7s;
	width: 320px;
	height: 381px;
}
.content__text {
	font-size: 18px;
	line-height: 24px;
}
.content__text:not(:last-child) {
	margin-bottom: 34px;
}

/* Footer */
.page__footer {
	margin-top: 50px;
	margin-bottom: 30px;
}
.footer-wrap {
	background: rgba(99, 105, 110, 0.48);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 40px;
}
.nav-bottom__list {
	display: flex;
	align-items: center;
}
.nav-bottom__item + .nav-bottom__item {
	margin-left: 23px;
}
.nav-bottom__link {
	font-size: 28px;
	line-height: 28px;
	display: inline-block;
	transition: 0.7s;
	padding: 14px 0 13px;
	border-bottom: 1px solid rgba(99, 105, 110, 0);
}
.nav-bottom__link:hover {
	color: #3181a6;
	border-color: #3181a6;
}
.footer__copyright {
	font-size: 24px;
	line-height: 24px;
}

/* ! pageColor start */

.theme-color {
	position: absolute;
	top: calc(50% - 20px);
	left: 0;
	padding: 0px 15px;
	display: inline-block;
	min-height: 40px;
	min-width: 150px;
	cursor: pointer;
}

/* pageColor end */
