body {
	font-family: sans-serif;
	text-transform: uppercase;
	text-align: center;
}

.container {
	max-width: 1210px;
	padding: 0 4px;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.table-v1 {
	margin: 30px 0;
	border: 22px solid #3a4965;
}
.table-v1 tr {
	height: 72px;
}
.table-v1 td + td {
	border-left: 1px solid #c4c4c4;
}
.v1__head-cell:first-child {
	width: 313px;
}
.v1__head-cell:not(:first-child) {
	width: 284px;
}

/* table-v1 Head start */
.v1__head {
	background: #fafafa;
}
.v1__head-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 28px;
	color: #484848;
}
.v1__head-title--big {
	font-size: 30px;
	line-height: 28px;
}
.v1__price-cell {
	border-left: 1px solid #c4c4c4;
}
.v1__price-text {
	display: flex;
	min-height: 89px;
	align-items: center;
	padding: 18px 32px 11px;
}
.v1__price-text {
	font-size: 18px;
	line-height: 28px;
	color: #484848;
}
.v1__price-text--bold {
	font-weight: 700;
	font-size: 60px;
	position: relative;
}
.v1__price-text--bold::after {
	content: ".99";
	position: absolute;
	font-size: 24px;
	line-height: 28px;
	top: -27px;
}
.v1__head-cell {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: #ffffff;
}
.bg-green {
	background-color: #89c331;
}
.bg-red {
	background-color: #f04a56;
	font-size: 30px;
	line-height: 28px;
}
.bg-blue {
	background-color: #20807c;
}

/* table-v1 Head end */

/* table-v1 Body start */

.v1__body {
	color: #484848;
}
.v1__body-row:nth-child(2n) {
	background-color: #e3e3e3;
}
.v1__body-row:nth-child(2n + 1) {
	background-color: #f2f2f2;
}

/* table-v1 Body end */

/* table-v1 Footer start  */
.v1__foot-cell {
	padding: 31px 0;
}
.v1-btn {
	cursor: pointer;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	width: 192px;
	height: 42px;
	background-color: #484848;
	border-radius: 5px;
	box-shadow: 0px 9px 0px #404040;
	padding-top: 10px;
	position: relative;
}
.v1-btn:hover {
	box-shadow: 0px 7px 0px #404040;
	top: 2px;
}
.btn--green {
	background-color: #89c331;
	box-shadow: 0px 9px 0px #79b027;
}
.btn--green:hover {
	box-shadow: 0px 7px 0px #79b027;
}
.btn--red {
	background-color: #f04a56;
	box-shadow: 0px 9px 0px #df3a46;
}
.btn--red:hover {
	box-shadow: 0px 7px 0px #df3a46;
}
.btn--blue {
	background-color: #20807c;
	box-shadow: 0px 9px 0px #16736f;
}
.btn--blue:hover {
	box-shadow: 0px 7px 0px #16736f;
}

.v1__foot-cell:nth-child(1) {
	background-color: #dddddd;
}
.v1__foot-cell:nth-child(2),
.v1__foot-cell:nth-child(4) {
	background-color: #eeeeee;
}
.v1__foot-cell:nth-child(3) {
	background-color: #f4f4f4;
}
/* table-v1 Footer end  */

/* !table2__head start */
.table2 {
	border: 28px solid #3a4965;
	width: 1197px;
	margin-bottom: 20px;
}
.table2__thead-row {
}
.table2__th {
	height: 115px;
	border-bottom: 12px solid #3a4965;
}
.table2__th:first-child {
	width: 200px;
	background: #fafafa;
}
.table2__th:nth-child(2n) {
	width: 160px;
	background: #e3e3e3;
}
.table2__th:nth-child(2n + 3) {
	width: 160px;
	background: #f2f2f2;
}
.table2__th-text {
	margin-top: 10px;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	color: #848484;
}
.table2__th-text-small {
	font-weight: 700;
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	color: #484848;
}
/* !table2__head end */

/* !table2__body start */

.table2__row {
	height: 167px;
}
.td-main {
	border-top: 2px solid #d6d6d6;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	color: #484848;
}
.td-main:nth-child(2n) {
	background: #e3e3e3;
}
.td-main:nth-child(2n + 1) {
	background: #f2f2f2;
}
.td-title__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	color: #ffffff;
}
.td-title__text {
	font-weight: 700;
	font-size: 14px;
	line-height: 28px;
	text-transform: uppercase;
	color: #ffffff;
	margin: 10px 0;
}
.td-title__text span {
	font-size: 36px;
	margin-right: 30px;
	position: relative;
}
.td-title__text span::after {
	content: ".99";
	font-size: 14px;
	position: absolute;
	top: -2px;
	right: -19px;
}
.td-title__btn {
	cursor: pointer;
	font-weight: 700;
	font-size: 16px;
	line-height: 28px;
	text-transform: uppercase;
	color: #ffffff;
	border-radius: 4px;
	background: #414141;
	padding: 8px 20px;
	box-shadow: 0px 5px 1px #000;
	position: relative;
	transition: box-shadow 0.3s, transform 0.3s;
}
.td-title__btn:hover {
	box-shadow: none;
	transform: translateY(5px);
}
.bg--green {
	background: #89c331;
}
.bg--red {
	background: #f04a56;
}
.bg--blue {
	background: #20807c;
}
/* !table2__body end */
