body {
	font-family: sans-serif;
	font-size: 20px;
	text-align: center;
}

.image-to-show {
	width: 400px;
	height: 400px;
	position: absolute;
	top: 0;
	left: calc(50% - 200px);
	opacity: 0;
	transition: opacity 0.5s;
}

.images-wrapper {
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
	min-height: 400px;
}

.active {
	opacity: 1;
}

.btn {
	padding: 10px 15px;
	margin-top: 20px;
	cursor: pointer;
}
